@model mvc_demo.Controllers.AddTextModel

@using (Html.BeginForm(MVC.Text.Index(), FormMethod.Post, new { @class = "form form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        <input type="text" name="@Html.NameFor(m => m.Title)" id="@Html.IdFor(m =>m.Title)" class="form-control"/>
        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Text)
        @Html.TextAreaFor(m => m.Text, new { rows = "20", cols="200", @class="form-control", style="min-width: 100%" })
    </div>
    <button type="submit" class="btn btn-primary">save</button>
}